.mypy_cache/
.pytest_cache/
.devcontainer/
__pycache__/
playground/
data/
logs/
eggs/
build/
dbs/
*.egg-info/
dumps/
drawio/
redis_data/
dist/

.env
deploy.env
*.crt
*.key
*.pem

*.sqlite
*.csv
*.log
*.sql
celerybeat-schedule
*.pid
*.drawio
*.mo
*.*~

# vscode
**/.vscode/launch.json
**/.vscode/settings.json

# coverage
**/htmlcov/
*.coverage
