<!DOCTYPE html>
<html lang={{ lang }}>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FigureHook</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <style type="text/css">
    html {
      background-color: hsl(0, 0%, 15%);
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container has-text-white">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      <article class="message is-{{ category }}">
        <div class="message-body">
          {{ message }}
        </div>
      </article>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="columns">
        <div class="column is-half has-text-white">
          <h1 class="title has-text-centered has-text-white">FigureHook<sub class="is-size-6">BETA</sub></h1>
        </div>
        <div class="column is-half has-text-white">
          <h3 class="subtitle is-4 has-text-white">Webhook {{ gettext('preferences') }}</h2>
            <form class="form" method="post">
              {{ form.csrf_token }}
              <div class="field">
                {{ form.language.label(class_='label has-text-white') }}
                <div class="control">
                  <div class="select">
                    {{ form.language }}
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  {{ form.is_nsfw }}{{ form.is_nsfw.label(class_='ml-2 has-text-weight-bold') }}
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  {{ form.submit(class_='button is-link') }}
                </div>
              </div>
            </form>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <div class="card has-background-dark">
            <div class="card-header">
              <div class="card-header-title">
                <h3 class="subtitle is-3 has-text-white">{{ gettext('Features') }}</h3>
              </div>
            </div>
            <div class="card-content">
              <div class="content has-text-white">
                <ul class="mt-0">
                  <li>
                    <p class="is-size-4 mb-0 has-text-weight-bold"">{{ gettext('New product feed') }}</p>
                      {{ gettext('Push messages when new products announced.') }}<br>
                  </li>
                  <li>
                    <p class=" is-size-4 has-text-weight-bold">{{ gettext('Postponement feed') }} (WIP)</p>
                    {{ gettext('Push messages when products were postponed.') }}
                  </li>
                  <li>
                    <p class="is-size-4 has-text-weight-bold">{{ gettext('Release feed') }} (WIP)</p>
                    {{ gettext('Push messages when the products release date was confirmed.') }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card has-background-dark">
            <div class="card-header">
              <div class="card-header-title">
                <h3 class="subtitle is-3 has-text-white">{{ gettext('FAQ') }}</h3>
              </div>
            </div>
            <div class="card-content">
              <div class="content has-text-white">
                <ul class="mt-0">
                  <li>
                    <p class="is-size-4 mb-0 has-text-weight-bold"">{{ gettext('What is a webhook?') }}</p>
                    {{ gettext('Webhook is a safe way to let the application send messages to your channel.') }}<br>
                    {{ gettext('No need to worry about permissions and you can delete it at any time.') }}
                  </li>
                  <li>
                    <p class=" is-size-4 has-text-weight-bold">{{ gettext('How do I change the subscription?') }}</p>
                    {{ gettext('Unsubscribe it and subscribe again with new preferences.') }}
                  </li>
                  <li>
                    <p class="is-size-4 has-text-weight-bold">{{ gettext('How do I unsubscribe?') }}</p>
                    {{ gettext('Edit channel > Integration > Webhook > Delete Webhook') }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>

</html>